body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.login-info {
    text-align: center;
    height: auto;
}
.login-info a span{
    display: block;
    font-weight: 500;
}
.login-info>span{
    height: auto;
    padding: 12px 10px;
}
.login-info img {
    width: 52px;
    margin: 0 0 5px 0;
    border-radius: 50%;
    height: 52px;
    border: 2px solid #fff !important;
}

.smart-style-5 .btn-header>:first-child>a, .smart-style-5 .header-search>input[type=text] {
    background: rgba(0,0,0,.35)!important;
}
nav ul li a{
    text-align: center;
    font-size: 15px;
    width: 135px;
    height: 85px;
    margin: 0 auto;
    padding: 17px 5px;
    border-radius: 30px 0px;
    border: 2px solid transparent;
}
nav ul li:nth-child(1) a{
    background-color: #1d779c;
}
#enterpriseData {
    left: 21%;
}
nav ul li:nth-child(2) a{
    background-color: #8c4d2a;
}
nav ul li:nth-child(3) a{
    background-color: #d4509e;
}
nav ul li:nth-child(4) a{
    background-color: #a67923;
}
nav ul li:nth-child(5) a{
    background-color: #107651;
}
.smart-style-5 nav ul .active>a {
    color: #fff!important;
    font-weight: 500;
    border: 2px solid #fff;
}
nav ul li.active>a:before{
    width: 0;
    height: 0;
    border-top: 34px solid #fff;
    border-left: 36px solid transparent;
    content: '';
    top: 0;
    right: 0;
}
nav ul li.active>a:after{
    display: block;
    position: absolute;
    content: "\f00c";
    color: #0a2e2c;
    right: 2px;
    top: 1px;
    font-family: FontAwesome;
    z-index: 2;
}

nav ul span.menu-item-parent {
    display: block;
    margin-top: 5px;
}
.smart-style-5 a:focus, .smart-style-5 a:hover{
    color: #fff;
}
nav>ul>li>a>i {
    margin-right: 0px;
    width: auto !important;
    font-size: 30px !important;
}
#left-panel nav{
    margin-top: 20px;
}
#left-panel nav li{
    margin-bottom: 15px;    
}

.page-footer {
    height: 45px;
    position: fixed;
    line-height: 18px;
    font-size: 12px;
    /* text-align: center; */
}
#left-panel {
    padding-bottom: 60px;
}
#project-context>:first-child, .project-context>:first-child {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 33px;
    text-shadow: none !important;
}
.header-search>input[type=text] {
    border-radius: 4px;
}

.header-search>input[type=text]::-webkit-input-placeholder {
    color: #fff;
}
.header-search>input[type=text]::-moz-placeholder {
    color: #fff;
}
.header-search>input[type=text]:-ms-input-placeholder {
    color: #fff;
}
.header-search>input[type=text]:-moz-placeholder { 
    color: #fff;
}
.btn-header>:first-child>a {
    border-radius: 4px;
}
.black-trans-box {
    background: rgba(0,0,0,.45);
    border-radius: 7px 0;
    padding: 15px;
    border-bottom: 1px solid;
    border-color: rgba(0,0,0,.35);
}
.label-lg{
    font-size: 20px;
    white-space: nowrap;
}
.cercle-count {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    line-height: 75px;
    font-size: 28px;
    font-weight: 600;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
}
.chart {
    margin: 0px 15px 20px;
}
.flot-text{
    color: #fff !important;
    font-size: 12px !important;
}
.m-t-30{
    margin-top: 30px;
}
.slider {
    margin-top: 30px;
    margin-bottom: 15px;
}
.slider.slider-horizontal .slider-selection {
    border-radius: 4px;
}
.slider-selection {
    background: #fff;
}
.slider-handle {
    border: 1px solid #4e96c8;
    background: #4e96c8;
}
.slider-handle:before{
    display: none;
}
.smart-style-5 .slider-track {
    background: #fff;
    border-radius:4px;
}
#logo-group>span {
    text-align: center;
    width: 100%;
    margin-left: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td {
    font-size: 13px;
}
 

.table>thead>tr>th {
    font-size: 15px;
    font-weight: 500;
}
.text-center th{
    text-align: center;
}
h1 {
    letter-spacing: normal;
}

@media screen and (max-width:991px){
    .black-trans-box{
        margin-bottom: 20px;
    }
}
