<app-child-component></app-child-component>
<div *ngIf="showSpinner">
    <app-loading-spinner></app-loading-spinner>
</div>
<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-graduation-cap"></i> Question</h1>
                <h1>Chapter Name: &nbsp; {{chapname}}</h1>
            </div>
        </div>
        <section>
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row padding-10">
                            <div class="table-responsive padding-10">
                                <table class="table table-bordered text-left">
                                    <thead>
                                        <tr>
                                            <!-- <th></th> -->
                                            <th>Question</th>
                                            <th>Actions</th>


                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let chepData of questionData?.data; let i=index">
                                        <tr>
                                            <!-- <td> <input type="radio" name="user"></td> -->
                                            <td>{{chepData.question}}</td>
                                            <td>

                                                    <i  style="cursor: pointer" (click)= "deleteQuestion(chepData.question_code)" data-toggle="modal" data-target="#chapterConfirmDelete" class="fa fa-trash"></i>

                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="m-t-10 m-r-10 text-right btn-group-box">

                                <!-- <button type="button" class="btn btn-labeled btn-primary">
                                      <span class="btn-label">
                                      <i class="fa fa-list" aria-hidden="true"></i>
                                      </span>Edit
                                  </button> -->
                            </div>

                        </div>

                    </div>
                    <!-- end widget content -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>

    </div>
    <!-- END MAIN CONTENT -->
    <!--delete Popup -->
 <div id="chapterConfirmDelete" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <p class="enterpriseDelete">Are you sure you want to delete {{DeleteChaptersName}}?</p>
                    <input style="display: none" type="text" [(ngModel)]="DeleteChaptersID" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button (click) = "QuestionRemoveData()" type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                </div>
            </div>

        </div>
    </div>
