<app-child-component></app-child-component>
<div *ngIf="showSpinner">
  <app-loading-spinner></app-loading-spinner>
</div>
<div id="main" role="main">
  <!-- MAIN CONTENT -->
  <div id="content">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
          <i class="fa-fw fa fa-book-open"></i> Lesson</h1>
      </div>
    </div>
    <section>
      <!-- row -->
      <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <!-- widget content -->
          <div class="widget-body">
            <div class="row padding-10">
              <div class="table-responsive padding-10">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!--<div style="border: #0E70CA; width: 1px">-->
                      <div class="panel panel-blue panel-body">
                      <label style="color: black; font-size: 16px"><strong>Chapter Name:</strong></label>
                      <p>{{lessonData.chapters_name}}</p>
                      <label style="color: black; font-size: 16px"><strong>Lesson Detail:</strong></label>
                      <p>{{lessonData.chapter_lesson}}</p>
                      <hr>
                    </div>
                </div>
              </div>
            </div>

          </div>
          <!-- end widget content -->
        </article>
        <!-- WIDGET END -->
      </div>
      <!-- end row -->
    </section>

  </div>
  <!-- END MAIN CONTENT -->

  <!-- /.modal !-->
</div>
