<!-- <p>
  clienhome works!
</p> -->

<app-clientside></app-clientside>
<!-- <div *ngIf="showSpinner">
        <app-loading-spinner></app-loading-spinner>
  </div> -->
<!-- MAIN PANEL -->
<div id="main" role="main">
        <!-- MAIN CONTENT -->
        <div id="content">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Home</h1>
                </div>
            </div>
            <section>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="black-trans-box text-center">
                                    <div class="label-lg">
                                        Quiz Count
                                    </div>
                                    <div class="cercle-count">
                                        1
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="black-trans-box text-center">
                                    <div class="label-lg">
                                        Lesson Count
                                        
                                    </div>
                                    <div class="cercle-count">
                                        2
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
